html, body { height: 99%; }
body {
    font-family: "Courier New",Courier,monospace; 
    background: #000000;
    color: #FFFFFF;
}
body, p, div#display { margin: 0; }
div#screen {
    height: 100%;
    padding: 0;
    margin: 2px;
    overflow: :auto;
    display: block;
}

#cursor.on {
    background-color: #FFFFFF;
    color: #000000;
}
#cursor.off {
    background-color:#000000;
    color: #FFFFFF;
}

